<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
      <add key="ProcessTimer:DelayMS" value="10000" />
      <add key="FolderQueue:Enabled" value="false" />
      <add key="FolderQueue:WatchPath" value="c:/tools/wordtopdf/folderqueue" />
      <add key="FolderQueue:SourceName" value="FolderQueue" />
      <add key="DatabaseQueue:Enabled" value="false" />
      <add key="DatabaseQueue:ConnectionStringName" value="WordToPDF" />
      <add key="DatabaseQueue:TableName" value="WordToPDFQueue" />
    </appSettings>
    <connectionStrings>
      <add name="WordToPDF" connectionString="Data Source=SERVER; Initial Catalog=WordToPDF; Persist Security Info=True; User ID=USER; Password=PASSWORD; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>