<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.60.6" targetFramework="net48" />
  <package id="Serilog" version="2.7.1" targetFramework="net48" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net48" />
  <package id="Topshelf" version="4.2.1" targetFramework="net48" />
  <package id="Topshelf.Serilog" version="4.2.1" targetFramework="net48" />
</packages>